@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine-dark.css";
@import "ag-grid-community/dist/styles/ag-theme-balham-dark.css";
@import "ag-grid-community/dist/styles/ag-theme-balham.css";
@import "ag-grid-community/dist/styles/ag-theme-material.css";

body{
    margin: 0;
    padding: 0;
    background: #568d56;
}